################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Frontend/.vscode
/OcelotGateway/.vs
/OcelotGateway/OcelotGateway/bin/Debug/net6.0
/OcelotGateway/OcelotGateway/obj
/SignalR_Hub/.vs
/SignalR_Hub/SignalR_Hub/bin/Debug/net6.0
/SignalR_Hub/SignalR_Hub/obj
/Backend/.vs/Backend
/Backend/bin/Debug/net7.0
/Backend/obj
/Backend/.vs/ProjectEvaluation
/Backend/RabbitMQ.Service.Demo/bin/Debug/net7.0
/Backend/RabbitMQ.Service.Demo/obj
/Backend/RabbitMQ.Service.One/bin/Debug/net7.0
/Backend/RabbitMQ.Service.One/obj
/Backend/RabbitMQ.Service.Three/bin/Debug/net7.0
/Backend/RabbitMQ.Service.Three/obj
/Backend/RabbitMQ.Service.Two/bin/Debug/net7.0
/Backend/RabbitMQ.Service.Two/obj
